<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Hospital Dashboard</h1>

<form>

<input type="text" placeholder="Patient Name">

<input type="number" placeholder="Age">

<input type="text" placeholder="Disease">

<input type="text" placeholder="Doctor">

<button>Add Patient</button>

</form>

<hr>

<h2>Patient Records</h2>

<table>

<tr>

<th>Name</th>

<th>Age</th>

<th>Disease</th>

<th>Doctor</th>

</tr>

</table>

</div>

</body>

</html>
